# This file makes all DiscFerret USB disc analysers attached to the system
# accessible for all users

# Firmware Loader Mode
SUBSYSTEMS=="usb", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="fbba", MODE:="0666"

# Firmware Run Mode
SUBSYSTEMS=="usb", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="fbbb", MODE:="0666"
